# Example podman quadlet
# Place your actual quadlets here
# Remove this file and add your own from CoreOS

[Container]
Image=docker.io/library/nginx:latest
ContainerName=example-nginx
AutoUpdate=registry

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target
