[Unit]
Description=Jellyfin
After=network-online.target
Wants=network-online.target

[Container]
ContainerName=jellyfin
Image=lscr.io/linuxserver/jellyfin:latest
Network=rproxy.network
PublishPort=8096:8096
AddDevice=/dev/dri
Volume=/var/lib/media_conf/Jellyfin:/config:Z
Volume=/var/mnt/media/pillage/downloads:/downloads:z
Volume=/var/mnt/media/pillage/tv:/tv:z
Volume=/var/mnt/media/pillage/movies:/movies:z
Environment=TZ=Pacific/Auckland
Environment=PUID=1001
Environment=PGID=1001
Environment=JELLYFIN_PublishedServerUrl=http://10.0.0.40

[Install]
WantedBy=multi-user.target
