[Unit]
Description=NzbGet
After=network-online.target
Wants=network-online.target

[Container]
ContainerName=nzbget
Image=docker.io/linuxserver/nzbget
Network=rproxy.network
PublishPort=6789:6789
Volume=/var/lib/media_conf/NzbGet:/config:Z
Volume=/var/mnt/media/pillage/downloads:/downloads
Environment=TZ=Pacific/Auckland
Environment=PUID=1001
Environment=PGID=1001

[Install]
WantedBy=multi-user.target
