[Unit]
Description=Omada
After=network-online.target lan.network
Wants=network-online.target
Requires=lan.network

[Container]
ContainerName=omada
Image=docker.io/mbentley/omada-controller:5.15
Volume=/var/lib/media_conf/Omada/data:/opt/tplink/EAPController/data:Z
Volume=/var/lib/media_conf/Omada/logs:/opt/tplink/EAPController/logs:Z
Network=lan.network
IP=10.0.0.50
PodmanArgs=--mac-address 02:68:b3:29:da:98
#PublishPort=8088:8088
#PublishPort=8043:8043
#PublishPort=8843:8843
#PublishPort=27001:27001/udp
#PublishPort=29810:29810/udp
#PublishPort=29811-29816:29811-29816
Environment=MANAGE_HTTP_PORT=8088
Environment=MANAGE_HTTPS_PORT=8043
#Environment=PUID=0
#Environment=PGID=0
#Environment=PUSERNAME=root
#Environment=PGROUP=root
Environment=PORTAL_HTTP_PORT=8088
Environment=PORTAL_HTTPS_PORT=8843
Environment=PORT_ADOPT_V1=29812
Environment=PORT_APP_DISCOVERY=27001
Environment=PORT_DISCOVERY=29810
Environment=PORT_MANAGER_V1=29811
Environment=PORT_MANAGER_V2=29814
Environment=PORT_TRANSFER_V2=29815
Environment=PORT_RTTY=29816
Environment=PORT_UPGRADE_V1=29813
Environment=SHOW_SERVER_LOGS=true
Environment=SHOW_MONGODB_LOGS=false
Environment=SSL_CERT_NAME="tls.crt"
Environment=SSL_KEY_NAME="tls.key"
Environment=TZ=Pacific/Auckland

[Install]
WantedBy=multi-user.target
