[Unit]
Description=Radarr
After=network-online.target
Wants=network-online.target

[Container]
ContainerName=radarr
Image=docker.io/linuxserver/radarr
Network=rproxy.network
PublishPort=7878:7878
Volume=/var/lib/media_conf/Radarr:/config:Z
Volume=/var/mnt/media/pillage/downloads:/downloads
Volume=/var/mnt/media/pillage/movies:/movies
Environment=TZ=Pacific/Auckland
Environment=PUID=1001
Environment=PGID=1001

[Install]
WantedBy=multi-user.target
