[Unit]
Description=Sonarr
After=network-online.target
Wants=network-online.target

[Container]
ContainerName=sonarr
Image=docker.io/linuxserver/sonarr
Network=rproxy.network
PublishPort=8989:8989
Volume=/var/lib/media_conf/Sonarr:/config:Z
Volume=/var/mnt/media/pillage/downloads:/downloads
Volume=/var/mnt/media/pillage/tv:/tv
Environment=TZ=Pacific/Auckland
Environment=PUID=1001
Environment=PGID=1001

[Install]
WantedBy=multi-user.target
