*.meatworks.org {
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
		propagation_delay 2m
		resolvers 1.1.1.1
	}

	@forgejo host forgejo.meatworks.org
	handle @forgejo {
		reverse_proxy host.containers.internal:3000
	}

	@sonarr host sonarr.meatworks.org
	handle @sonarr {
		reverse_proxy host.containers.internal:8989
	}

	@radarr host radarr.meatworks.org
	handle @radarr {
		reverse_proxy host.containers.internal:7878
	}

	@frigate host frigate.meatworks.org
	handle @frigate {
		reverse_proxy host.containers.internal:5000
	}

	@jellyfin host jellyfin.meatworks.org
	handle @jellyfin {
		reverse_proxy host.containers.internal:8096
	}

	@nzbget host nzbget.meatworks.org
	handle @nzbget {
		reverse_proxy host.containers.internal:6789
	}
}
